$priC: #f9fffb;
$secC: #6B967B;
$terC: #46DB7D;
$conC1: #f7deef;
$conC2: #4D5382;

@mixin transition-ease{
    transition: all 0.5s ease-in-out;
}
@keyframes cf3FadeInOut {
    0% {
        opacity:0;
    }
    4% {
    opacity:1;
    }
    14% {
    opacity:1;
    }
    19%{
        opacity: 0;
    }
    100% {
    opacity:0;
    }
}

@keyframes rotdiv {
    0% {
        transform: rotate(8deg);
        opacity: 0;
        top: 20%;
    }
    100% {
        transform: rotate(0deg);
        opacity: 1;
        top: 0;
    }
}


body{
    background-color: $priC;
    background-image: url('../../2.PNG');
    text-align: justify;
    text-justify: auto;
    font-family:'Times New Roman', Times, serif;
}
h1{
    font-family: 'Segoe Print';
    font-weight: 900;
    font-size: 3em;
    -webkit-text-stroke: 1px $conC2;
    -webkit-text-fill-color: $conC1;
}
h4{
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 5px white;
}
.foot{
    background-color: #4D5382;
    border-top: black 1px solid;
    color: white;
}


.pri{
    background-color: rgba(0, 0, 0, 0.075);
}

.sec{
    background-color: $secC;
}

.ter{
    background-color: $terC;
    height: 30rem;
    background-image: url('../../1.PNG');
}

.conC1{
    background-color: $conC1;
    background-image: url('../../3.PNG');
}

.conC2{
    background-color: $conC2;
}

.ter img{
    opacity: 0;
    width: 100%;
    z-index: 0;
    height: 30rem;
    position: absolute;
    right: 0;
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 49s;
}
.ter img.b2{
    animation-delay: 7s;
}
.ter img.b3{
    animation-delay: 14s;
}
.ter img.b4{
    animation-delay: 21s;
}
.ter img.b5{
    animation-delay: 28s;
}
.ter img.b6{
    animation-delay: 35s;
}
.ter img.b7{
    animation-delay: 42s;
}
#text{
    position: absolute;
    top: 9rem;
    z-index: 1;
}

#strip1{
    background-image: url('../../strip.PNG');
    height: 6px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.rotdiv{
    position: relative;
    animation-name: rotdiv;
    animation-duration: 1s;
    animation-timing-function: ease;
}

.logotop{
    position:fixed; 
    top:0; 
    left:47%; 
    z-index: 5;
    height: 125px;
    width: 125px;
}
.logotop:hover{
    transition: 1s ease-in-out;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
